.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats{
    display: flex;
}

.stats li {
    display: flex;
    flex-direction: column;
    align-items: center;
}